# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

.jptch
.suo
/.vs
/Release
/Debug/ConsoleChat.tlog
/Debug/vc142.pdb
/Debug/vc142.idb
/Debug/vc.nativecodeanalysis.all.xml
/Debug/user.obj
/Debug/user.new.obj.enc
/Debug/User.nativecodeanalysis.xml
/Debug/User.nativecodeanalysis.sarif
/Debug/myexception.obj
/Debug/myexception.new.obj.enc
/Debug/ConsoleChat.vcxproj.FileListAbsolute.txt
/Debug/ConsoleChat.pdb
/Debug/ConsoleChat.obj
/Debug/ConsoleChat.nativecodeanalysis.xml
/Debug/ConsoleChat.nativecodeanalysis.sarif
/Debug/ConsoleChat.log
/Debug/ConsoleChat.ilk
/Debug/ConsoleChat.exe.recipe
/Debug/ConsoleChat.Build.CppClean.log
/Debug/CodeAnalysisResultManifest.txt
/Debug/Chat.obj
/Debug/chat.new.obj.enc
/Debug/Chat.nativecodeanalysis.xml
/Debug/Chat.nativecodeanalysis.sarif
/Debug/Chat.nativecodeanalysis.sarif
/Debug/Chat.obj
/Debug/chat.new.obj.enc
/Debug/Chat.nativecodeanalysis.xml
/ConsoleChat.vcxproj.user
/ConsoleChat.sln
/ConsoleChat.vcxproj
/ConsoleChat.vcxproj.filters
Message.cpp
MyException.cpp
